# ---- Python cache / bytecode ----
__pycache__/
*.py[cod]

# ---- Virtual environments ----
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ---- CatBoost info Folder ----
catboost_info/

# ---- Dataset ----
BBC news dataset.csv

# ---- Distribution / packaging ----
build/
dist/
*.egg-info/