<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>Student ID:</label>
    <input type="number" id="student_id">
    <br><br>
    <button onclick="deleteStudent()">Delete</button>
    <h1 id="result"></h1>
    <script>
        async function deleteStudent() {

            const id = document.getElementById("student_id").value;
            // const marks = document.getElementById("marks").value;

            // Send PATCH request to FastAPI
            const response = await fetch(`/deletedata/${id}`, {
                method: "DELETE"
            });

            const data = await response.json();

            // Show response on screen
            document.getElementById("result").innerHTML =
                data.msg + "<br>" 
        }
    </script>
</body>
</html>